<!DOCTYPE html>
<html>
<head>
    <title>Create Customer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<style>
    .helptext{
        display:none !important;
    }
</style>
</head>
<body>

<div class="container">
    <h4>Create Customer Account</h4>
    <br>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn waves-effect waves-light" type="submit">Sign up</button>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
